<!--有注解就没有用这个呢，没有删除-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day2.demo.test.mapper.UserMapper">
    <select id="selectUserById" resultType="User" parameterType="int">
        SELECT * from u where id = #{id}
    </select>
    <select id="selectUserByName" resultType="User" parameterType="String">
        SELECT * from u where NAME = #{NAME}
    </select>
    <insert id="insertUser" parameterType="User">
        insert into user(userid,email,password) values(#{userid},#{email},#{password})
    </insert>
</mapper>